---
layout: archive
title: "Honors & Awards"
permalink: /awards/
author_profile: true
---

Microprocessor’s course, 2 semesters for Biomedical Engineering students.

## Tasks


* Held classes to solve problems and new samples of each topic and designed home works
* Taught how to develop a practical robot based on AVR microchips 
* Evaluated final projects and graded student’s exams

80 hours, more than 100 students, 
Fall 2021, 2022


{% include base_path %}


{% for post in site.awards %}
  {% include archive-single.html %}
{% endfor %}

