---
layout: archive
title: "Honors & Awards"
permalink: /awards/
author_profile: true
---

* Recognized with the Diploma of Award for the Meritorious Paper in the “6th International Serious Games Symposium” 
Hosted by: SeGaP (Serious Games Prize)
Field of Study: Serious Games based on AI, Computer Vision and Image Processing
&nbsp;
2023 Dec
&nbsp;

* Biomedical Engineering Graduation 
Ranked within the top 5% among BME students in the same entrance (N=70)
&nbsp;
2023 Jan
&nbsp;

* Recognized with the Diploma of paper submission in the “7th International Conference of Video Games, Challenges and Opportunities” 
Hosted by: Entertainment innovation center of Isfahan university, Isfahan, Iran Field of Study: Video Games based on Artificial Intelligence and Computer Vision
&nbsp;
Winter 2022
&nbsp;

* National Entrance Exam 
Ranked within the top 0.5% of the Iranian university entrance exam for Bachelor degree among ~150,000 students
&nbsp;
Summer 2018
&nbsp;



{% include base_path %}


{% for post in site.awards %}
  {% include archive-single.html %}
{% endfor %}

